<div>
  <h1>Choisissez vos dates</h1>
  <%= form_tag nannies_path, method: :get do %>
  <% prompt = params[:moving_area].present? ? params[:moving_area] : "Votre zone de déplacement" %>
  <%= select_tag :moving_area, raw("<option>France</option><option>Europe</option><option>Monde</option>"), prompt: prompt%>

  <% prompt_start = params[:start_date].present? ? params[:start_date] :  DateTime.now.strftime("%Y-%m-%d")%>
  <%= date_field_tag :start_date, prompt_start %>
  <% prompt_end = params[:end_date].present? ? params[:end_date] :  DateTime.now.strftime("%Y-%m-%d")%>

  <%= date_field_tag :end_date, prompt_end %>
  <%= submit_tag "Search" %>
<% end %>

</div>

<h2>Trouver votre nanny</h2>
<div>
  <ul>
    <% @nannies.each do |nanny| %>
    <li><%= link_to nanny.first_name, nanny_path(nanny)%></li>
    <%= nanny.description %>
    <%= nanny.city %>
    <%= cl_image_tag nanny.photo, height: 300, width: 400, crop: :fill  %>
    <% end %>
  </ul>
</div>

