<h1> Profil de <%= @nanny.first_name%> </h1>

<%= @nanny.description %>
<%= @nanny.price_per_day %> €/ jour
<%= @nanny.city %>
<%= cl_image_tag @nanny.photo, alt: "Cest la nanny: #{@nanny.first_name}", height: 300, width: 400, crop: :fill %>
