<h1 id="message-title">Messagerie</h1>
<div class="chat-page">
  <div class="sender">
    <div class="senders">
      <h3>Participants</h3>
    </div>
    <img src=<%= current_user.photo %> alt="" class="avatar-message">
    <p class="user-name"><%= current_user.first_name %> <%= current_user.last_name %></p>
    <i class="fas fa-angle-double-down arrow-down"></i>
    <br>
    <img src=<%= @conversation.nanny.photo %> alt="" class="avatar-message">
    <p class="nanny-name"><%= @conversation.nanny.first_name %></p>
    <%= link_to "Revoir ses détails", nanny_path(@nanny), class: "link-details" %>
  </div>


  <div class="chat-box">
    <!-- <div class="messages-chat-box"> -->
      <% @messages.each do |m| %>
        <% if m.user_type == "user"%>
        <ul class="ul-right">
            <div class="message-right">
              <li class="message-name"><%= current_user.first_name %> - <%= m.created_at.to_date.strftime("%d/%m") %> à <%= m.created_at.to_time.strftime("%Hh%M") %>
              </li>
              <li><%= m.content %></li>
            </div>
          </ul>
        <% else %>
          <ul class="ul-left">
            <div class="message-left">
              <li class="message-name"><%= @conversation.nanny.first_name %> - <%= m.created_at.to_date.strftime("%d/%m") %> à <%= m.created_at.to_time.strftime("%Hh%M") %>
                <!-- bricolage traduction time_ago -->
                <%# if time_ago_in_words(m.created_at).split.include?("than") %>
                  <!-- il y a moins d'une minute -->
                <%# elsif time_ago_in_words(m.created_at).include?("about 24 hours")%>
                  <!-- il y a 1 jour -->
                <%# elsif time_ago_in_words(m.created_at).split.include?("about")%>
                  <!-- il y a <%= time_ago_in_words(m.created_at).split.second  %> heures -->
                <%# else %>
                  <!-- il y a -->
                  <%# time_ago_in_words(m.created_at).split.first%>
                  <%# if time_ago_in_words(m.created_at).split.last == "hours" %>
                    <!-- heure(s) -->
                  <%# else %>
                    <!-- minutes -->
                  <%# end %>
                <%# end %>
                </li>
              <li><%= m.content %></li>
            </div>
          <ul>
        <% end %>
      <% end %>
    <div class="field-message">
        <%= form_for @message do |f| %>
          <%= f.text_area :content, placeholder: "Votre message", class: "message" %>
          <%= f.hidden_field :conversation_id, value: @conversation.id%>
          <%= f.submit "Envoyer", class: "btn btn-secondary btn-send", method: :post%>
        <% end %>
    </div>
  </div>

  <div class="recap">
    <h3>Récapitulatif</h3>
      <ul class="inline">
        <% if session[:start_date].present? && session[:end_date].present? %>
        <li>Du <%= start = session[:start_date].to_date.strftime("%d/%m/%Y") %> au <%= ended = session[:end_date].to_date.strftime("%d/%m/%Y") %></li>
        <% time = ended.to_time - start.to_time %>
      </ul>
        <p class="p-space"><span class="space-b">Durée du séjour</span><span><%= total_time = time.to_i/86400 %> jours</span></p>
        <% nanny_day = @nanny.price_per_day_cents %>
        <p class="p-space"><span class="space-b">Tarif journalier</span><span><%= nanny_day %> €/jour</span></p>
        <p class="p-space"><span class="space-b">Estimation totale</span><span><%= total_time*nanny_day %> €</span></p>
      </ul>
      <% else %>
      <ul>
          <% nanny_day = @nanny.price_per_day_cents %>
          <li>Service nounou : <%= nanny_day %> €/jour</li>
        </ul>
      <% end %>
      <span></span>
      <button type="button" class="btn btn-secondary btn-resa" data-toggle="modal" data-target="#exampleModal">
        Réserver
      </button>
  </div>
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Réservation</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Vous avez décidé de voyager avec <%= @conversation.nanny.first_name %>, veuillez confirmer votre choix:</p>
        <%= simple_form_for ([@conversation.nanny, @reservation]) do |f| %>
        <div class="row justify-content-center">
          <div class="col-12 col-lg-6 col-lg-4">
            <div class="form-inputs">
              <div class="form-group">
                <%= f.input :start_date,
                  html5: true,
                  input_html: { value: session[:start_date] } %>
                <%= f.input :end_date,
                  html5: true,
                  input_html: { value: session[:end_date] } %>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Revenir à la nanny</button>
        <button type="submit" action="/nannies/:nanny_id/reservation#create" class="btn btn-primary">Confirmer</button>
        <% end %>
      </div>
    </div>
  </div>
</div>

</div>
