<h1 id="message-title">Messagerie</h1>
<div class="chat-page">
  <div class="sender">
    <div class="senders">
      <h4>Participants</h4>
    </div>
    <img src=<%= current_user.photo %> alt="" class="avatar-message">
    <p class="user-name"><%= current_user.first_name %> <%= current_user.last_name %></p>
    <i class="fas fa-angle-double-down arrow-down"></i>
    <br>
    <img src=<%= @conversation.nanny.photo %> alt="" class="avatar-message">
    <p class="nanny-name"><%= @conversation.nanny.first_name %></p>
    <%= link_to "Revoir ses détails", nanny_path(@nanny) %>
  </div>


  <div class="chat-box">
    <!-- <div class="messages-chat-box"> -->
      <% @messages.each do |m| %>
        <% if m.user_type == "user"%>
          <ul class="ul-left">
            <div class="message-left">
              <li class="message-name"><%= current_user.first_name %> - <%= time_ago_in_words(m.created_at) %></li>
              <li><%= m.content %></li>
            </div>
          <ul>
        <% else %>
          <ul class="ul-right">
            <div class="message-right">
              <li class="message-name"><%= @conversation.nanny.first_name %> - <%= time_ago_in_words(m.created_at) %></li>
              <li><%= m.content %></li>
            </div>
          </ul>
        <% end %>
      <% end %>
    <!-- </div> -->

    <div class="field-message">
        <%= form_for @message do |f| %>
          <%= f.text_area :content, placeholder: "Votre message", class: "message" %>
          <%= f.hidden_field :conversation_id, value: @conversation.id%>
          <%= f.submit "Envoyer", class: "btn btn-secondary btn-send", method: :post%>
        <% end %>
    </div>
  </div>

  <div class="recap">
    <h3>Récapitulatif</h3>
      <ul class="inline">
        <% if session[:start_date].present? && session[:end_date].present? %>
        <li>Du <%= start = session[:start_date] %></li>
        <li>au <%= ended = session[:end_date] %></li>
        <% time = ended.to_time - start.to_time %>
      </ul>
      <p>Durée du séjour : <%= total_time = time.to_i/86400 %> jours </p>
      <ul>
        <% nanny_day = @conversation.nanny.price_per_day_cents %>
        <li>Tarif journalier : <%= nanny_day %> €/jour</li>
        <li>Estimation totale : <%= total_time*nanny_day %> €</li>
      </ul>
      <% else %>
        <ul>
          <% nanny_day = @conversation.nanny.price_per_day_cents %>
          <li>Service nounou : <%= nanny_day %> €/jour</li>
        </ul>
      <% end %>
    <button type="button" class="btn btn-secondary btn-resa" data-toggle="modal" data-target="#exampleModal">
      Réserver
    </button>
  </div>


</div>
