<div class="form-container">
  <h2 class="form-title">Ouuups...</h2>
  <h2 class="form-title">Mot de passe oublié ?</h2>

  <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
    <%= f.error_notification %>
    <div class="row justify-content-center">
      <div class="col-12 col-lg-4">
        <div class="form-inputs">
          <%= f.input :email,
                      required: true,
                      autofocus: true,
                      input_html: { autocomplete: "email" } %>
        </div>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-12 col-lg-4">
        <div class="form-actions">
          <%= f.button :submit, "Envoyer les instructions de réinitialisation", class: "btn-block btn-login" %>
        </div>
      </div>
    </div>
  <% end %>

  <div class="links-to">
    <%= render "devise/shared/links" %>
    <div class="img-form">
      <%= image_tag("montagne.png") %>
    </div>
  </div>
</div>
