<div class="home-banner">
  <%= image_tag "https://res.cloudinary.com/dljfsfpna/image/upload/v1575551825/howinanny-logo.png" %>

    <% if user_signed_in? %>
      <%= link_to "Me déconnecter", destroy_user_session_path, method: :delete %>
    <% elsif nanny_signed_in? %>
      <%= link_to "Me déconnecter", destroy_nanny_session_path, method: :delete %>
    <% else %>
      <ul>
        <li class="nav-item">
          <%= link_to "Login", new_user_session_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Nanny", new_nanny_session_path, class: "nav-link" %>
        </li>
      </ul>
    <% end %>

  <% if current_user.nil?%>
    <%= link_to "Se connecter", new_user_session_path, class: "onglet" %>
  <% else %>
    <%= link_to "Mon tableau de bord", reservations_path, class: "onglet" %>
  <% end %>

  <div class="home-banner-content">
    <h4> Les vacances, c’est sacré&thinsp;!<br></h4>
    <p>Howinanny vous propose de trouver LA nounou qui vous accompagnera pendant vos vacances.<br>
    <span class="underline">Pour des enfants heureux et des parents détendus.</span></p>
  </div>
  <div class="date-home d-flex align-self-end">
    <div class="bg-gray">
      <%= form_tag nannies_path, method: :get do %>
        <% prompt_start = params[:start_date].present? ? params[:start_date] :  DateTime.now.strftime("%Y-%m-%d")%>
        <span class="banner-date-label">Départ</span><%= date_field_tag :start_date, prompt_start %>
        <% prompt_end = params[:end_date].present? ? params[:end_date] :  DateTime.now.strftime("%Y-%m-%d")%>
        <span class="banner-date-label">Retour</span><%= date_field_tag :end_date, prompt_end %>
        <% prompt = params[:moving_area].present? ? params[:moving_area] : "Où ?" %>
        <%= select_tag :moving_area, raw("<option>France</option><option>Europe</option><option>Monde</option>"), prompt: prompt%>
    </div>
      <%= submit_tag "Nanny Go", class:"btn" %>
      <% end %>
  </div>
</div>
<div class="chevron">
<%= link_to "#presentation" do %>
  <i class="fas fa-chevron-down scroll"></i>
<% end %>
</div>
<div class="home-service" id="presentation">
  <h2>Notre service</h2>
  <div class="home-cards">
    <div class="service-card">
      <i class="far fa-calendar-check service-icon"></i>
      <h3>EFFICACE</h3>
      <p>Trouvez la nounou qui correspond à vos attentes grâce
      à une sélection de profils.<br>
      En fonction de vos dates, de votre destination de vacances et de vos activités.</p>
    </div>
    <div class="service-card">
      <i class="fas fa-award service-icon"></i>
      <h3>FIABLE</h3>
      <p>Les nounous sont choisies selon leur expertise, leur profil, leur
      sérieux et leurs recommandations.<br>
      Vos enfants seront entre de bonnes mains.</p>
    </div>
    <div class="service-card">
      <i class="fab fa-angellist service-icon"></i>
      <h3>RELAX</h3>
      <p>Ce service vous permet de profiter pleinement de vos vacances !<br>
      Vous pourrez passer du temps avec vos amis pendant que vos enfants feront les
      activités qu'ils adorent. </p>
    </div>
  </div>
</div>

<div class="pay-container">
<div class="text-pay">
<h1>Système de partage de frais</h1>
<p>Vous partez à plusieurs familles ? <br>
  Partagez les frais directement via la plateforme. <br>
  Simple, rapide et efficace !</p>
</div>
<div class="pic-pay"></div>


</div>






