<h1>Messagerie nanny</h1>

<div class="messages-chat-box">
  <% @conversation.messages.each do |m| %>
    <% if m.user_type == "nanny"%>
      <ul class="ul-left">
          <div class="message-left">
            <li class="message-name">
              <%= @conversation.nanny.first_name %> - <%= m.created_at.to_date.strftime("%d/%m") %> à <%= m.created_at.to_time.strftime("%Hh%M") %>
            </li>
      <% else %>
      <%= @conversation.user.first_name %> - <%= time_ago_in_words(m.created_at)%>
      <% end %>
      <li><%= m.content %></li>
    </ul>
  <% end %>
</div>
<div >
    <%= form_for @message do |f| %>
      <%= f.text_area :content, placeholder: "Votre message", class: "message" %>
      <%= f.hidden_field :conversation_id, value: @conversation.id%>
      <%= f.submit "Envoyer", class: "btn btn-secondary btn-send", method: :post %>
    <% end %>

</div>
