<div class="container">
  <div class="row py-4">
    <div class="col-md-3"><%= cl_image_tag @payment.reservation.nanny.photo, width: '100%' %></div>
    <div class="col">
      <h1>Confirmation de réservation</h1>
      <p>Votre réservation avec <strong><%= @payment.reservation.nanny.first_name %></strong> pour <strong><%= humanized_money_with_symbol @payment.reservation.total_price %></strong></p>
      <button id="pay" class="btn btn-primary">Payer</button>
        <%# link_to 'Partager les frais', reservation_sharedpayments_path , method: :patch, class:"btn btn-primary" %>
      <!-- <button id="divide" class="btn btn-primary">Partager les frais</button> -->


      <script>
        const paymentButton = document.getElementById('pay');
        paymentButton.addEventListener('click', () => {
          const stripe = Stripe('<%= ENV['STRIPE_PUBLISHABLE_KEY'] %>');
          stripe.redirectToCheckout({
            sessionId: '<%= @payment.checkout_session_id %>'
          });
        });
      </script>
    </div>
  </div>
</div>
